.conatiner {
  position: relative;
  background-color: #222e35;
  height: 93vh;
  top: 24px;
  width: 68.9vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid #2f3b43;
}
.home_bg{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
