<div tabindex="-1" class="_1-FMR _3Zpy8 message-out focusable-list-item" data-id="true_919039875615@c.us_4E17678898AAACA8A627B6343A00D5FC">
          <span></span>
          <div data-testid="msg-container" class="_1-lf9 _3mSPV _18q-J">
            <span data-testid="tail-out" data-icon="tail-out" class="_1kh65"><svg viewBox="0 0 8 13" width="8" height="13" class="">
                <path opacity=".13" d="M5.188 1H0v11.193l6.467-8.625C7.526 2.156 6.958 1 5.188 1z"></path>
                <path fill="currentColor" d="M5.188 0H0v11.193l6.467-8.625C7.526 1.156 6.958 0 5.188 0z"></path></svg></span>
            <div class="ItfyB _3nbHh">
              <span aria-label="You:"></span>
              <div class="_22Msk">
                <div class="copyable-text" data-pre-plain-text="[1:49 AM, 9/9/2022] Aayush: ">
                  <div class="_1Gy50">
                    <span dir="ltr" class="i0jNr selectable-text copyable-text"><span>Bolo aap</span></span><span class="_20bHr _2ui2p"></span>
                  </div>
                </div>
                <div class="_1beEj">
                  <div class="gq1t1y46 lak21jic e4p1bexh cr2cog7z le5p0ye3 _1WSmF" data-testid="msg-meta" role="button">
                    <span class="l7jjieqr fewfhwl7" dir="auto">1:49 AM</span>
                    <div class="do8e0lj9 l7jjieqr k6y3xtnu">
                      <span data-testid="msg-dblcheck" aria-label=" Read " data-icon="msg-dblcheck" class="_3l4_3"><svg viewBox="0 0 16 15" width="16" height="15" class="">
                          <path fill="currentColor" d="m15.01 3.316-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg></span>
                    </div>
                  </div>
                </div>
              </div>
              <span></span>
              <div class="_39T_J"></div>
            </div>
            <div class="p357zi0d ktfrpxia nu7pwgvd kcgo1i74 sap93d0t gndfcl4n _1m68F">
              <div class="tvf2evcx m0h2a7mj lb5m6g5c j7l1k36l ktfrpxia nu7pwgvd gjuq5ydh rqm6ogl5 i5tg98hk folpon7g przvwfww snweb893">
                <div></div>
              </div>
            </div>
          </div>
        </div>