.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  position: relative;
  z-index: 100;
  height: 100%;
  padding: 24px 0 0 20px;
  background-color: #111b21;
}

p {
  height: 87vh;
  overflow-y: scroll;
}
