* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #374045 #111b21;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #111b21;
}

*::-webkit-scrollbar-thumb {
  background-color: #374045;
  border-radius: 0px;
  border: 6px solid #374045;
}
